body {
    margin: 0;
    text-align: center;
    font-family: 'Merriweather', serif;
    font-size: 200%;
    background-color: #EAF6F6;
}

h1 {
    margin: 50;
    margin-top: 50px;
    font-family: 'Sacramento', cursive;
    font-size: 5.625rem;
    color: #66BFBF;
    line-height: 2;
}
h2 {
    font-family: 'Montserrat', sans-serif;
    font-size: 2.5rem;
    color: #66BFBF;
    font-weight: normal;
}
h3 {
    font-family: 'Montserrat', sans-serif;
    color: #11999E;
}
a {
    color: #11999E;
}
.profile-picture {
    width: 400px;
}
.top-container{
    position: relative;
    padding-top:80px;
}

.top-cloud {
    position: absolute;
    right:550px;
    top: 30px;
}
.bottom-cloud{
    position: absolute;
    left: 500px;

}

.skill-row {
    width: 50%;
    margin: 100px auto;
    text-align: left;
    line-height: 2;
}

.computer {
    width: 25%;
    float: left;
    margin-right: 30px;
    border-radius: 50%;
}

.chillies{
    width: 25%;
    float: right;
    margin-right: 30px;
}

hr {
    width: 5%;
    border-style: dotted none none none;
    border-width: 10px;
    color: grey;
}

.bottom-container {
    background-color: #66BFBF;
    margin-top: 50px;
    padding: 45px;
}

.bottom-container p {
    color: #EAF6F6;
    font-family: 'Montserrat', sans-serif;
    font-size: 15px;
}
.footer-link {
    padding: 20px;
    text-decoration: none;
    font-family: 'Montserrat', sans-serif;
    line-height: 2;
    font-size: 20px;
    color: #11999E;
}

.profile {
    margin: 100px auto;
    width: 30%;
}

.contact-me {
    margin-top: 100px;
    width: 50%;
    margin: auto;
}

.btn {
    background: #11cdd4;
    background-image: -webkit-linear-gradient(top, #11cdd4, #11999e);
    background-image: -moz-linear-gradient(top, #11cdd4, #11999e);
    background-image: -ms-linear-gradient(top, #11cdd4, #11999e);
    background-image: -o-linear-gradient(top, #11cdd4, #11999e);
    background-image: linear-gradient(to bottom, #11cdd4, #11999e);
    -webkit-border-radius: 8;
    -moz-border-radius: 8;
    border-radius: 8px;
    font-family: Arial;
    color: #ffffff;
    font-size: 20px;
    padding: 10px 20px 10px 20px;
    text-decoration: none;
  }
  
  .btn:hover {
    background: #30e3cb;
    background-image: -webkit-linear-gradient(top, #30e3cb, #2bc4ad);
    background-image: -moz-linear-gradient(top, #30e3cb, #2bc4ad);
    background-image: -ms-linear-gradient(top, #30e3cb, #2bc4ad);
    background-image: -o-linear-gradient(top, #30e3cb, #2bc4ad);
    background-image: linear-gradient(to bottom, #30e3cb, #2bc4ad);
    text-decoration: none;
  }

.btn-div {
    padding: 40px;
}